<h1 align = 'center'>Assessment Center</h1> 
<br><br><br>
<table width=100%>
	<th align="center"><%= button_to "Login", new_user_session_path %></th>
	<tr>
		<td align="center">
        <h3> Login as Student/Teacher</h3>
        <br><br><br>
        </td>
    </tr>
    
    <th align="center"><%= button_to "Sign Up", new_user_registration_path, method: :get %></th>
    <tr>
		<td align ="center">
        <h3> Sign Up as Student/Teacher</h3>
        </td>
	</tr>
</table>